<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<body>
    

<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">book name</th>
        <th scope="col">price</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
        {% if books %}
        {% for book in books %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ book.title }}</td>
        <td>{{ book.auther }}</td>
        <td>{{ book.price }}</td>
        <td><a href="{% url 'details' book.id %}" class="btn btn-primary">deatiles</a>
         
      {% endfor %}
      {% endif %}
      
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{page.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
  {% endif %}
      {% for num in page.paginator.page_range %}
      <li class="page-item {% if page.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a></li>

      {% endfor %}
      {% if page.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">>></span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</body>
</html>

    

  



    
    
    
